.container {
    display: flex;
    flex-flow: row wrap;
    margin: 30px auto;
    width: 960px;
    border-style: solid;
}

.etch {
    background-color: blue;
}

#button-container {
    text-align: center;
}

#grid-button {
    background-color: #5ac5ff;
    width: 12rem;
    height: 4rem;
    margin: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}